body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  top: 0px;
  background-color: white;
  align-items: center;
  z-index: 3;
  box-shadow: 1px 1px 6px rgb(221, 221, 221);
}

.header-title {
  position: absolute;
  left: 330px;
  font-size: 20px;
  font-weight: 450;
}

.sidebar {
  flex-direction: column;
  background-color: rgb(71, 71, 71);
  height: 100%;
  width: 310px;
  z-index: 100;
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease 0s;
}

.top-sidebar {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
}

.towson-logo {
  margin-left: 12px;
}

.middle-sidebar {
  margin-top: 20px;
  height: 633px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.middle-sidebar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-link {
  font-size: 16px;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  color: white;
  flex: 1;
  margin-bottom: 5px;
}

.sidebar-icon {
  width: 23px;
  height: 25px;
}

.icon-container {
  width: 75px;
  text-align: center;

}


.bottom-sidebar {
  background-color: rgb(63, 64, 65);;
  flex: 1;
  color: white;
}


