
#mainForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 71, 71);
  padding: 5px;
  height: 500px;
  min-width: 700px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  margin-bottom: 80px;
}

#content-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(231,231,231);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#bottom-form{
  text-align: center;
  width: auto;
}

#img-container{
  display: flex;
  align-items: center;
  height: 80px;
}

#mainForm label {
  font-size: 20px;
}

select {
  font-size: 15px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select:hover {
  border-color: #313131;
}

select:focus {
  border-color: rgb(71, 71, 71);
  box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.25);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(58, 58, 58, 0.7);
  
}

.modal-header {
  padding: 10px;
  background-color: rgb(71, 71, 71);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-title {
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  color: white;
}

.form-button {
  cursor:pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: rgb(71, 71, 71);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 4px; 
  justify-content: space-between;
}

.form-button:hover {
  background-color: rgba(0, 0, 0, 0.459);
}

.form-button:disabled {
  background-color: rgba(71, 71, 71, 0.5);
  cursor:default;
}

.modal-content {
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  background-color: white;
  margin: 15% auto;
  border: none;
  width: 20%;
  height: 25%;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 8%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  background-color: white;
}

.modal-body button {
  cursor:pointer;
  font-family: Arial, sans-serif;
  font-size: 17px;
  background-color: rgb(71, 71, 71);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 4px; 
  justify-content: space-between;
}

.modal-body button:hover {
  background-color: rgba(0, 0, 0, 0.459);
}

.modal-body button:disabled {
  background-color: rgba(71, 71, 71, 0.5);
  cursor:default;
}

.close-btn-wrapper {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 40px;
  overflow: hidden;
}

.close-btn-wrapper button {
  background-color: transparent;
  border: none;
  color: white;
  font-display: auto;
  width: 100%;
  height: 100%;
}

.close-btn-wrapper button:hover {
  background-color: #e81123;
  transition: ease-in-out .15s;
}