body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  all: unset;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  align-items: center;
  z-index: 3;
  box-shadow: 1px 1px 6px rgb(221, 221, 221);
}

.header-title {
  position: absolute;
  left: 330px;
  font-size: 20px;
  font-weight: 450;
}

.sidebar {
  flex-direction: column;
  background-color: rgb(71, 71, 71);
  height: 100%;
  width: 310px;
  z-index: 100;
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease 0s;
}

.top-sidebar {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
}

.towson-logo {
  margin-left: 12px;
  cursor: pointer;
}

.middle-sidebar {
  margin-top: 20px;
  height: 633px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  overflow: scroll;
}

.middle-sidebar::-webkit-scrollbar {
  display: none;
}

.middle-sidebar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 15px;
}

.middle-sidebar-list-hover {
  background-color: rgba(59, 59, 59);
}

.middle-sidebar-list-hover .sidebar-link {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.sidebar-link {
  font-size: 16px;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  color: white;
  width: 200px;
}

.sidebar-icon {
  width: 25px;
  height: 26px;
}

.icon-container {
  height: 26px;
  width: 40px;
  text-align: left;
  padding-left: 10px;
}

.caret {
  display: flex;
  justify-content: center;
  flex: 1;
}

#sidebar-caret {
  width: 15px;
  height: 15px;
}

.main {
  position: fixed;
  left: 17.5vw;
  top: 8vh;
  right: 0;
  bottom: 0;
}

.main-table {
  position: fixed;
  left: 310px;
  top: 65px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgb(231, 231, 231);
}

#content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}


#content {
  text-align: center;
  border: none;
  /* width: 60%; */
  font-size: 20px;
  border-radius: 5px;
}

#img {
  background-image: url(../images/towsonClassroom.jpg);
  background-size: cover;
  width: 90%;
  height: 50%;
  border: 5px solid rgb(71, 71, 71);
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgb(124, 124, 124);
}

#cardover-lay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 1px;
}

#textcontainer {
  position: relative;
  top: 38%;
  text-align: center;
}

#text1 {
  all: unset;
  font-size: 40px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

#text2 {
  all: unset;
  font-size: 40px;
  color: rgb(255, 230, 0);
  font-family: 'IBM Plex Sans', sans-serif;

}

#text3 {
  all: unset;
  display: block;
  color: white;
  font-size: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  width: 90%;
}

#box {
  width: 250px;
  height: 180px;
  background-color: rgb(214, 214, 214);
  border: 2px solid rgb(202, 202, 202);
  border-radius: 3px;
  box-shadow: 1px 1px 6px rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#box:hover {
  padding: 10px;
  transition: 0.15s;
}

#home-links {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

#home-links-text {
  all: unset;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.hidden {
  display: none;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 5% auto;
  text-align: center;
  width: 80%;

}

tr:not(:first-child) {
  border-top: 1px solid black;
}

tr,
td {
  padding: 5%;
}

thead {
  border-bottom: 1px solid black;
}

.item-select-wrapper {
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
}