#content{
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    justify-content: left;
    text-align: center;
    width: 60%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 15px;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: 3px solid black;
    text-align: left;
    outline: none;
    font-size: 30px;
}

.selectable{
    margin: 3%;
    border: 1px solid black;
    border-radius: 25px;
}
.expand-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-left: 3%;
    width: 90%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -10px;
}
#button-wrapper{
    width: 100%;
    font-size: 20px;
}
#button-wrapper button{
    margin: 10px;
    
}
.active{
    background-color: black;
    color: white;
    border: 1px solid gray;
}
nav{
    display: inline-flex;
    width: 110%;
    border-bottom: 2px solid black;
    margin-bottom: 5%;
}
nav button{
    width: 33%;
    text-align: center;
    font-size: 20px;
    height: 110%;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}
nav hr{
    height: 52px;
    background-color: black;
    width: 2px;
    margin: 0;
    padding: 0;
    margin-top: -1%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5% auto;
    text-align: center;
    width: 80%;

}
tr:not(:first-child) {
    border-top: 1px solid black;
}

tr, td{
    padding: 5%;
}

thead{
    border-bottom: 1px solid black;
}

a, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#form-header{
    text-align: center;
    width: 100%;
    padding: none;
    font-size: 32px;
    font-weight: bold;
}
#form-header hr{
    background-color: black;
    height: 2px;
    width: 100%;
}

#form-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item{
    width: 50%;
    
}

#submit{
    justify-content: center;
    margin-top: 5%;
}